{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{dialyzer, [
  {warnings, [unmatched_returns, error_handling, underspecs]},
  {plt_extra_apps, [compiler]}
]}.

{deps, [
  {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}}
]}.

{relx, [
  {release, {bferl, "1.0.0"}, [ bferl ]},
  {extended_start_script, true}
]}.

{profiles, [
  {default, [
    {relx, [
      {dev_mode, true},
      {include_erts, false}
    ]}
  ]},

  {test, [
    {deps, [
      {cth_readable, {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}},
      {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
    ]},

    {cover_enabled, true},
    {erl_opts, [debug_info]}
  ]},

  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}
]}.

{validate_app_modules, true}.

{shell, [ {apps, [ bferl ]} ]}.