{ct_opts, [ {ct_hooks, [cth_readable_shell]} ]}.

{dialyzer, [
  {get_warnings, true},
  {warnings, [ no_return, no_unused, no_improper_lists,
               no_fun_app, no_match, no_opaque, no_fail_call,
               no_contracts, no_behaviours, no_undefined_callbacks,
               unmatched_returns, error_handling, race_conditions,
               overspecs, underspecs, specdiffs
             ]}
]}.

{deps, [
  {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}}
]}.

{profiles, [
  {test, [
    {deps, [
      {cth_readable, {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}},
      {proper, {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}}
    ]},

    {cover_enabled, true},
    {erl_opts, [debug_info]}
  ]}
]}.

{validate_app_modules, true}.
